* {
    --qu-accent: #1c8b5f;
    --qu-accent-foreground: #ffffff;
    --qu-background: rgb(245, 245, 245);
    --qu-sidebar-background: rgb(250, 250, 250);
    --qu-text: #666666;
    --header-background: #ffffff;
    --qu-text-secondary: #999999;
    --qu-border-color: #e4e4e7;
    --qu-header-background: #ffffff;
    --qu-text-secondary: #999999;
    --qu-item-hover: rgba(0, 0, 0, 0.063);
    --qu-item-active: rgba(0, 198, 115, 0.125);
    font-family: "Figtree", sans-serif;
}

.dark * {
    --qu-accent: #1c8b5f;
    --qu-accent-foreground: #ffffff;
    --qu-background: rgb(245, 245, 245);
    --qu-sidebar-background: rgb(250, 250, 250);
    --qu-text: #ffffff;
    --header-background: #ffffff;
    --qu-text-secondary: #999999;
    --qu-border-color: #d1d1d1;
    --qu-header-background: #ffffff;
    --qu-text-secondary: #d1d1d1;
    --qu-item-hover: rgba(0, 0, 0, 0.063);
    --qu-item-active: rgba(0, 198, 115, 0.125);
}

.qu-text {
    color: var(--qu-text);
}

.qu-text-secondary {
    color: var(--qu-text-secondary);
}